<div>
	<p style="float: left; margin-right: 22px;color: red;">Red: </p>
	<div class="red" *ngFor="let number of numbers">
		<label class="checkbox">
			<input type="checkbox" />
			{{ number }}
		</label>
	</div>
</div>

<div>
	<p style="float: left; margin-right: 18px; color: blue;">Blue: </p>
	<div class="blue" *ngFor="let number of numbers">
		<label class="checkbox">
			<input type="checkbox" />
			{{ number }}
		</label>
	</div>
</div>
<div>
	<p style="float: left; margin-right: 10px; color: silver;">Silver: </p>
	<div class="silver" *ngFor="let number of numbers">
		<label class="checkbox">
			<input type="checkbox" />
			{{ number }}
		</label>
	</div>
</div>

<button class="button" (click)="reload()">Reload</button>