.red {
	float: left;
	margin-right: 10px;
	color: red;
	margin-bottom: 5px;
}
.blue {
	float: left;
	margin-right: 10px;
	color: blue;
	margin-bottom: 5px;
}
.silver {
	float: left;
	margin-right: 10px;
	color: black;
    margin-bottom: 5px;
    color: silver;
}

.button {
	width: 350px;
	height: 35px;
	margin-top: 5px;
	background-color: green;
	color: aliceblue;
	border: 1px solid white;
}

.button:hover {
	width: 350px;
	height: 35px;
	margin-top: 5px;
	font-size: 20px;
	background-color: white;
	color: green;
	border: 1px solid green;
}
